html {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    height: 125px;
    width: 100%;
    position: relative;
    top: 20px;
}

.logo img {
    float: left;
    height: 125px;
    width: 20%;
    padding-left: 50px;
}

.breadcrumb {
    width: 90%;
    justify-content: space-around;
    line-height: 1.5;
}

.breadcrumb li {
    font-size: 1.5rem;
    display: inline;
    padding: 30px;
    vertical-align:middle;
    float: right;
    font-weight: 800;
    color: #400080;
}

.indHeadings::after{
    content: "";
    display: inline-block;
    width: 150px;
    height: 2px;
    background: #400080;
    opacity: 0.5;
    left: 25px;
    top: 50%;
    position: relative;
}

.introduction {
    position: relative;
    top: 15px;
    width: 90%;
    text-align: center;
    font-size: 1.25rem;
}

#introductionImportant {
    font-size: 1.5rem;
    color: #7300e6;
    line-height: 1.5;
    font-weight: bold;
}

.headings {
    position: relative;
    padding-left: 75px;
    padding-top: 25px;
}

.headings h2 {
    font-size: 1.5rem;
    font-style: italic;
}

footer {
    width: 90%;
    float: left;
    font-size: 0.5rem;
    margin-top: 50px;
}

.dropdownContent {
    width: 90%;
    display: inline-flex;
}

.dropdownContent img{
    float: right;
    margin-right: 50px;
}

.dropdownContent p {
    font-size: 1rem;
}

.dropdownContent li {
    line-height: 1.5;
}

.dropdownContent.skills {
    float: center;
}

@media only screen and (min-width: 686px) and (max-width: 842px) {
    .breadcrumb li {
        font-size: 1rem;
        padding: 25px;
    }
    .introduction {
        font-size: 1rem;
    }

    .introductionImportant {
        font-size: 1.25rem;
    }

    #about, #projects, #skills, #contact {
        font-size: 1rem;
    }

    .dropdownContent img{
        height: 75px;
        width: 75px;
    }

    .dropdownContent p {
        font-size: 0.75rem;
    }

    .dropdownContent li {
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: 608px) and (max-width: 686px) {
    .breadcrumb li {
        font-size: 0.75rem;
    }
    .logo img {
        height: 100px;
    }
    .introduction {
        font-size: 0.8rem;
    }

    .introductionImportant{
        font-size: 1rem;
    }

    #about, #projects, #skills, #contact {
        font-size: 0.8rem;
    }

    .dropdownContent img{
        height: 60px;
        width: 60px;
    }

    .dropdownContent p {
        font-size: 0.65rem;
    }

    .dropdownContent li {
        font-size: 0.65rem;
    }
}

@media only screen and (max-width: 608px) {
    .breadcrumb li {
        font-size: 0.5rem;
        padding: 20px;
    }
    .logo img {
        height: 75px;
    }

    .introduction {
        font-size: 0.6rem;
    }

    .introductionImportant{
        font-size: 0.8rem;
    }

    #about, #projects, #skills, #contact {
        font-size: 0.6rem;
    }

    .dropdownContent img{
        height: 50px;
        width: 50px;
    }

    .dropdownContent p {
        font-size: 0.5rem;
    }

    .dropdownContent li {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 420px) {
    .breadcrumb li {
        font-size: 0.5rem;
        padding: 10px;
    }
    .logo img {
        height: 50px;
    }
}